{% extends 'base.html.twig' %}

{% block title %}Liste des Lieux{% endblock %}

{% block body %}
    <h1>Liste des Lieux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for lieu in lieux %}
                <tr>
                    <td>{{ lieu.id }}</td>
                    <td>{{ lieu.nom }}</td>
                    <td>{{ lieu.adresse }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}