{% extends 'base.html.twig' %}

{% block title %}Liste des Commentaires{% endblock %}

{% block body %}
    <h1>Liste des Commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Événement</th>
            </tr>
        </thead>
        <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.id }}</td>
                    <td>{{ commentaire.contenu }}</td>
                    <td>{{ commentaire.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ commentaire.evenement.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}